---
import Base from './Base.astro';

const { title, date, categories = [], original_url, seo_title, seo_description } = Astro.props;
const pageTitle = seo_title || title;
const metaDesc = seo_description || '';
---
<Base title={pageTitle} description={metaDesc}>
  <div class="container">
    <div class="content clearfix">
      <slot />
    </div>
  </div>
</Base>
