---
import Base from './Base.astro';

const { title, slug, date, categories = [], original_url, seo_title, seo_description } = Astro.props;
const pageTitle = seo_title || title;
const metaDesc = seo_description || '';
const minorArcanaPages = ['minor-arcana', 'cups-tarot', 'pentacles-tarot', 'swords-tarot', 'wands-tarot'];
const isMinorArcanaPage = minorArcanaPages.includes(slug);
const isMelissaPage = slug === 'melissa-warwood-tantric-tarot';
---
<Base title={pageTitle} description={metaDesc}>
  <div class:list={['container', { 'minor-arcana-page': isMinorArcanaPage, 'melissa-tarot-page': isMelissaPage }]}>
    <h1>{title}</h1>
    <div class="content clearfix">
      <slot />
    </div>
  </div>
</Base>
